.container {
    padding-top: 25px;
}

#spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    height: 31px;
    width: 31px;
}

#card-pozo {
    height: 100%;
    width: 100%;
    display: block;
    align-items: stretch;
    width: 380px;
}

.media {
    justify-content: center;
    align-content: center; 
    display: list-item;
    padding-top: 0px;
}

#problemColor-pozo {
    background-color: red;
}

#withoutProblemColor-pozo {
    background-color: #84c456;
}

#futureProblemColor-pozo {
    background-color: yellow;
}

#undiagnosedColor-pozo {
    background-color: gray;
}

.Dashboard-subtitles {
    font-family: barrow, sans-serif;
    font-size: 13px;
    opacity: .9;
}

.Dashboard-titles {
    font-family: barrow, sans-serif;
    font-size: 30px;
    opacity: .9;
    text-align: center;
}