@media all and (min-width: 480px) {
  .navbar-light .navbar-brand {
    color:#030303;
}
  
  
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 35px;
    line-height: inherit;
    white-space: nowrap;
    font-family: Barlow, sans-serif; 
    opacity: .8;
}

.logo {
    vertical-align: middle;
}
.navbar-collapse {
    line-height: 50px;
}

.nav-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Barlow, sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
}

.dropdown-item {
    line-height: 20px;
    font-family: Barlow, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    opacity: .4;
}

  #spinner{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    height: 31px;
    width: 31px;
}

}