
.highcharts-root {
    width: 100%;
}

.highcharts-container {
    width: 100%;
    height: 100%;
}

.data-highcharts-chart {
    width: inherit;
    align-self: center;
    text-align:center;
}

.paper-container {
    padding: 1rem;
    width: 100%;
    align-self: center;
    text-align:center;
}

#papers-container-carta {
    margin-right: auto;
    height: 100%;
    width: 530px;
    padding: 0px 0px 20px 40px;
}

.container {
    align-self: center;
    margin: auto;
    width: 100%;
    display:table;
}

#spinner-notfixed {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    height: 31px;
    width: 31px;
}

.card {
    height: 90%;
    width: 100%;
}

.header {
    text-align: left;
    justify-content: right;
    background-color: #E9E9E9;
}

.media {
    justify-content: center;
    align-content: center; 
    display: list-item;
}

#info-container-carta {
    margin-left: auto;
    margin-right: 150px;
    height: 200px;
    width: 350px;
    float: right;
    color: black;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn-space {
    margin:10px;
}
@media screen and (max-width: 1020px) {
    #info-container-carta {
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 350px;
        justify-items: center;
    }

    #papers-container-carta {
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        width: 530px;
        padding: 90px 0px 20px 0px;
    }
}