.highcharts-root {
    width: 100%;
}

.highcharts-container {
    width: 100%;
    height: 100%;
}

.data-highcharts-chart {
    width: inherit;
    align-self: center;
    text-align:center;
}

.paper-container {
    padding: 1rem;
    width: 100%;
    align-self: center;
    text-align:center;
}

#papers-container-pozo {
    margin-right: auto;
    height: 100%;
    width: 500px;
    margin-left: 200px;
}

#spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    height: 31px;
    width: 31px;
}


#card {
    height: 100%;
    width: 100%;
}

.header {
    text-align: left;
    justify-content: right;
}

.media {
    justify-content: center;
    align-content: center; 
    display: list-item;
}

#info-container-pozo {
    margin-left: auto;
    height: 430px;
    width: 360px;
    float: right;
    color: black;
    margin-right: 240px;
}

.btn-outline-info {
    float: right;
    color: #17726A;
    border-color: #17726A;
}
.btn-outline-info:hover{
    background-color: #17726A
}

@media screen and (max-width: 1220px) {
    #info-container-pozo {
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: 430px;
        width: 360px;
    }

    #papers-container-pozo {
        margin-right: auto;
        margin-left: auto;
        padding: 80px 0px 20px 0px;
        height: 100%;
        width: 500px;
    }

    .btn-outline-info {
        float: middle;
        color: #17726A;
        border-color: #17726A;
    }
}

