.home-container {
    display: flex;
    justify-content: center;
    height: 1100px;
    background-image: url('../../data/images/Background.jpg');
    background-position: center;
    background-size: cover; 
}

.container-alpedo {
    display: block;
}

.banner-panel {    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 25%;
    width: 35%;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

.title-home {
    color: black;
    text-align: center;
    font-size: 37px;
    font-family: barlow,sans-serif; 
    letter-spacing: 1.5px;
    margin-top: 10px;
}

.body-home {
    color: black;
    text-align: center;
    font-size: 17px;
    font-family: barlow,sans-serif; 
    letter-spacing: 1.5px;
}

.columna {
    border-right: 1px solid white;
    display: table;    
    float: left;
    width: 33.33%;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
    color: black;
    font-size: 15px;
    font-family: barlow,sans-serif; 
    letter-spacing: 1.5px;
    font-weight: 600;
}

#last-column {
    display: table;    
    float: left;
    width: 33.33%;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
    color: black;
    font-size: 15px;
    font-family: barlow,sans-serif; 
    letter-spacing: 1.5px;
    font-weight: 600;
}

.grid {
    margin-top: 90px;
    justify-content: center;  
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 10%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
   }
}