.home-container {
    display: flex;
    justify-content: center;
    height: 1100px;
    background-image: url('../../data/images/Background.jpg');
    background-position: center;
    background-size: cover; /* Resize the background image to cover the entire container */
}

.banner-panel {    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 22%;
    width: 35%;
    margin-top: 70px;
}

.title-home {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: barlow,sans-serif; 
    letter-spacing: 1.5px;
}

.body-home {
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: barlow,sans-serif; 
    letter-spacing: 1.5px;
}