#spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    height: 31px;
    width: 31px;
}

#card-carta {
    height: 100%;
    width: 100%;
    align-items: stretch;
    width: 280px;
}

#header-carta {
    text-align: left;
    justify-content: right;
    background-color: rgb(216, 213, 213);
    height:90px;
}


.media {
    justify-content: center;
    align-content: center; 
    display: list-item;
}

.info-container {
    margin-left: auto;
    height: 200px;
    width: 350px;
    float: right;
    color: black;
}
